<aside>
  <div class="scroll">
    <!-- Logo -->
    <img src="/assets/logo.png" alt="logo" class="logo" />

    <!-- All -->
    <div class="group-wrapper">
      <div class="section">
        <div
          class="all-name"
          (click)="setActiveItemID('ALL')"
          [class.active]="activeItemID === 'ALL'"
        >
          ALL
        </div>
      </div>
    </div>
    <!-- seperator -->
    <div class="section seperator">
      <h2 class="seperator">SECTIONS</h2>
    </div>

    <!-- Custom Sections -->
    <div
      class="group-wrapper"
      [sortablejs]="sections"
      [sortablejsOptions]="sortableSectionOptions"
    >
      <div *ngFor="let section of sections" class="section">
        <!-- arrow -->
        <ng-container *ngIf="section.children.length">
          <div
            (click)="section.folded = !section.folded"
            class="toggle-arrow"
            [class.active]="!section.folded"
          >
            <svg
              width="11"
              height="10"
              viewBox="0 0 11 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.25153 8.62216C5.86663 9.28883 4.90438 9.28883 4.51948 8.62216L0.697423 2.00217C0.312523 1.3355 0.793649 0.502171 1.56345 0.502171L9.20756 0.502171C9.97736 0.502171 10.4585 1.3355 10.0736 2.00217L6.25153 8.62216Z"
              />
            </svg>
          </div>
        </ng-container>
        <!--------------- SECTION ----------------->
        <form
          (drop)="onSnippetDrop($event, section)"
          (dragover)="onSnippetDragover($event)"
          (dragleave)="onSnippetDragout($event)"
          #draggable
          [attr.data-id]="section.uid"
          class="section-name"
          [ngClass]="{
            active: activeItemID === section.uid,
            unfolded: !section.folded,
            highlight:
              contextItem?.uid === section.uid ||
              renameItem?.uid === section.uid
          }"
          (submit)="formNameChangeSubmit($event)"
          (click)="setActiveItemID(section)"
          (contextmenu)="openContextMenu($event, section)"
        >
          <!-- name -->
          <input
            type="text"
            inputFocus
            [inputValue]="section.name"
            [selectFocus]="renameItem?.uid === section.uid"
            (onBlur)="changeItemName($event)"
          />
          <button type="button" (click)="createNewItem($event, section.uid)">
            <i class="fas fa-plus"></i>
          </button>
        </form>
        <!---------------- GROUP  ------------------->
        <ng-container *ngIf="!section.folded">
          <div
            [sortablejs]="section.children"
            [sortablejsOptions]="sortableGroupOptions"
          >
            <form
              (drop)="onSnippetDrop($event, group)"
              (dragover)="onSnippetDragover($event)"
              (dragleave)="onSnippetDragout($event)"
              #draggable
              [attr.data-id]="group.uid"
              class="group-name"
              (submit)="formNameChangeSubmit($event)"
              *ngFor="let group of section.children"
              [ngClass]="{
                active: activeItemID === group.uid,
                highlight:
                  contextItem?.uid === group.uid ||
                  renameItem?.uid === group.uid
              }"
              (click)="setActiveItemID(group)"
              (contextmenu)="openContextMenu($event, group)"
            >
              <input
                type="text"
                inputFocus
                [inputValue]="group.name"
                [selectFocus]="renameItem?.uid === group.uid"
                (onBlur)="changeItemName($event)"
              />
              <button type="button" (click)="deleteItem(group)">
                <i class="fas fa-minus"></i>
              </button>
            </form>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Context Menu -->
    <context-menu
      *ngIf="contextPos"
      [position]="contextPos"
      (exit)="closeContextMenu()"
      (delete)="deleteItem()"
      (rename)="setRenameItemContextEvent()"
    ></context-menu>
  </div>

  <!-- new snippet button -->
  <div class="new-section-cont">
    <!-- gradient -->
    <div class="grad-overlay-dark"></div>
    <!-- button -->
    <div class="new-section-button-cont">
      <button class="new-section-btn" (click)="createNewItem($event, null)">
        <i class="fas fa-list-ul"></i>
        New Section
      </button>
    </div>
  </div>
</aside>
