@import ~sass/variables
 
aside
    height: 100vh
    background-color: $dark20
    position: relative

.scroll
    display: flex
    padding: 2rem 0 6rem 0
    flex-direction: column
    height: 100%
    overflow-y: auto

.logo
    width: 200px
    margin-bottom: 3rem
    margin-left: 2rem

.all-name
    position: relative
    cursor: pointer
    color: $light40
    font-size: .9rem
    font-weight: bold
    padding: .5rem 3rem 
    margin-bottom: 1rem
    &:hover
        background-color: $dark20
    &.active
        color: $accent 


.section
    position: relative
    // border-bottom: 3px solid $dark30
    padding: .5rem 0
    input
        flex-grow: 1
        font: inherit
        color: inherit
        max-width: 100%
        min-width: 0
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        cursor: pointer
    button
        opacity: 0
        pointer-events: none
        border-radius: 50%
        color: $light50
        background-color: $light10
        height: 22px
        width: 22px
        min-width: 22px
        display: flex
        justify-content: center
        align-items: center
        &:hover
            background-color: $accent
            color: $dark
        i
            font-size: .6rem
    form
        cursor: pointer

.section.seperator
    padding: .5rem 1.5rem 
    h2
        padding-left: 1.5rem
        color: $light20
        letter-spacing: 5px
        font-size: .75rem
        font-weight: bold
        border-bottom: solid 2px $light10

.toggle-arrow
    cursor: pointer
    position: absolute
    left: 13px
    top: 15px
    width: 25px
    height: 25px
    text-align: center
    svg
        fill: $light40
        transform: rotate(-90deg)
    &.active
        svg
            width: 10px
            transform: rotate(0deg)

.section-name
    color: $light40
    font-size: .9rem
    font-weight: bold
    display: flex
    align-items: center
    padding: .5rem 3rem 
    &.active
        color: $accent 
    &.highlight
        background-color: $dark50
        &:hover
            background-color: $dark50
    &.unfolded
        margin-bottom: .5rem
    &.drag
        background-color: $dark50
        input 
            pointer-events: none
        button
            pointer-events: none
        &:hover
            background-color: $dark50
            button
                opacity: 0
                pointer-events: none
    &.freeze:hover
        background: none
        button
            opacity: 0
            pointer-events: none
    &:hover
        background-color: $dark20
        button
            opacity: 1
            pointer-events: all
    input 
        text-transform: uppercase

.group-name
    color: white
    font-size: $h2
    font-weight: bold
    cursor: pointer
    padding: 0.5rem 3rem 0.5rem 4rem
    display: flex
    align-items: center
    input
        text-transform: capitalize
    &.active
        color: $accent
    &.highlight
        background-color: $dark50
        &:hover
            background-color: $dark50
    &.drag
        background-color: $dark50
        input 
            pointer-events: none
        button
            pointer-events: none
        &:hover
            background-color: $dark50
            button
                opacity: 0
                pointer-events: none
    &.freeze:hover
        background: none
        button
            opacity: 0
            pointer-events: none
    &:hover
        background-color: $dark20
        button
            opacity: 1
            pointer-events: all
     

.new-section-cont
    pointer-events: none
    position: absolute
    bottom: 0
    width: calc(100% - 16px)
    z-index: 100

.new-section-button-cont
    background-color: $bgDark
    padding: 10px 0 2rem 0

.new-section-btn
    background-color: $light10
    color: $light50
    font-weight: bold
    margin: 0 auto
    padding: .75rem 1rem
    border-radius: 50rem
    display: block
    pointer-events: all
    position: relative
    left: 8px
    i
        margin-right: .5rem
    &:hover
        background-color: $accent
        color: $dark
