@import ~sass/variables

$bgDarker:#16191A

.cm-s-material-palenight
  &.CodeMirror
    background-color: $bg
    color: #A6ACCD
    padding: 0.5rem
    font-family: 'Fira Code', monospace
    font-size: 1rem
    height: 100%

  .CodeMirror-gutters
    background: $bg
    color: #676E95
    border: none

  .CodeMirror-guttermarker, .CodeMirror-guttermarker-subtle, .CodeMirror-linenumber
    color: $light10

  .CodeMirror-cursor
    border-left: 1px solid #FFCC00

  div.CodeMirror-selected, &.CodeMirror-focused div.CodeMirror-selected
    background: $dark30

  .CodeMirror-line
    &::selection
      background: $dark30

    > span
      &::selection, > span::selection
        background: $dark30

    &::-moz-selection
      background: $dark30

    > span
      &::-moz-selection, > span::-moz-selection
        background: $dark30

  .CodeMirror-activeline-background
    background: $dark30

  .cm-keyword
    color: #C792EA

  .cm-operator
    color: #89DDFF

  .cm-variable-2
    color: $light80

  .cm-variable-3, .cm-type
    color: #f07178

  .cm-builtin
    color: #FFCB6B

  .cm-atom
    color: #F78C6C

  .cm-number
    color: #F78C6C

  .cm-def
    color: #f07178

  .cm-string
    color: #C3E88D

  .cm-string-2
    color: #C3E88D

  .cm-comment
    color: $light20

  .cm-variable
    color: #82AAFF

  .cm-tag
    color: #FF5370

  .cm-meta
    color: #FFCB6B

  .cm-attribute
    color: #C792EA
  
  .cm-property
    color: $light80

  .cm-qualifier, .cm-variable-3, .cm-type
    color: #FFCB6B

  .cm-error
    color: rgba(255, 255, 255, 1)
    background-color: #FF5370

  .CodeMirror-matchingbracket
    outline: 2px solid $light10
    color: white !important
