@import ~sass/variables
@import "~codemirror/lib/codemirror"

*
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    -webkit-overflow-scrolling: touch
    margin: 0
    padding: 0
    &:before,
    &:after 
        box-sizing: border-box
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
    &:focus
        outline: none
    &::selection
        background: $accent
        color: white

html,
body 
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    line-height: 1.5rem
    -webkit-font-smoothing: antialiased   
    color: white
    overflow: hidden
    background-color: $bg

button
    border: none
    background: none
    cursor: pointer
    font: inherit

input
    border: none
    border-radius: 0 
    appearance: none
    background: none
    font: inherit
    color: white
    &:-webkit-autofill 
        -webkit-transition-delay: 99999s
        -webkit-box-shadow: 0 0 0px 1000px white inset
        -webkit-text-fill-color: inherit !important

::-webkit-file-upload-button 
    cursor: pointer

input[type=file] 
    cursor: pointer


@-webkit-keyframes autofill 
    color: black
    background: transparent

a 
    text-decoration: none
    outline: 0
    color: inherit
    display: block


textarea
    resize: none
    background: inherit
    color: inherit
    font: inherit
    border: none

// global classes

::-webkit-scrollbar 
    width: 5px

::-webkit-scrollbar-track 
    border-radius: 5rem
    background: rgba(48, 48, 48, 0.534)

::-webkit-scrollbar-thumb 
    border-radius: 5rem
    background: rgba(100, 100, 100, 0.26)

.grad-overlay
    background: linear-gradient(rgba(28, 31, 33,1) 0%,rgba(28, 31, 33, 0.738) 19%,rgba(28, 31, 33, 0.541) 34%,rgba(28, 31, 33, 0.382) 47%,rgba(28, 31, 33, 0.278) 56.5%,rgba(28, 31, 33, 0.194) 65%,rgba(28, 31, 33, 0.126) 73%,rgba(28, 31, 33, 0.075) 80.2%,rgba(28, 31, 33, 0.042) 86.1%,rgba(28, 31, 33, 0.021) 91%,rgba(28, 31, 33, 0.008) 95.2%,rgba(28, 31, 33, 0.002) 98.2%,rgba(28, 31, 33, 0) 100%)
    width: 100%
    height: 75px
    bottom: 0
    transform: rotate(180deg)
    position: relative
    bottom: -5px

.grad-overlay-dark
    background: linear-gradient(rgba(25, 25, 26,1) 0%,rgba(25, 25, 26, 0.738) 19%,rgba(25, 25, 26, 0.541) 34%,rgba(25, 25, 26, 0.382) 47%,rgba(25, 25, 26, 0.278) 56.5%,rgba(25, 25, 26, 0.194) 65%,rgba(25, 25, 26, 0.126) 73%,rgba(25, 25, 26, 0.075) 80.2%,rgba(25, 25, 26, 0.042) 86.1%,rgba(25, 25, 26, 0.021) 91%,rgba(25, 25, 26, 0.008) 95.2%,rgba(25, 25, 26, 0.002) 98.2%,rgba(25, 25, 26, 0) 100%)
    width: 100%
    height: 75px
    bottom: 0
    transform: rotate(180deg)
    position: relative
    bottom: -5px
    


