// dark
$dark: black
$dark3: rgba(0,0,0, 0.03)
$dark3Solid: #F7F7F8
$dark5: rgba(0,0,0, 0.05)
$dark5Solid: #F3F3F3
$dark7: rgba(0,0,0, 0.07)
$dark7Solid: #EEEEEF
$dark10: rgba(0,0,0, 0.1)
$dark10Solid: #E7E7E7
$dark15: rgba(0,0,0, 0.15)
$dark15Solid: #DBDBDC
$dark20: rgba(0,0,0, 0.2)
$dark20Solid: #CFCFD1
$dark30: rgba(0,0,0, 0.3)
$dark30Solid: #B7B7B9
$dark40: rgba(0,0,0, 0.4)
$dark40Solid: #9F9FA2
$dark50: rgba(0,0,0, 0.5)
$dark50Solid: #87878B
$dark60: rgba(0,0,0, 0.6)
$dark60Solid: #707074
$dark70: rgba(0,0,0, 0.7)
$dark70Solid: #57575C

// light
$light: #F7F7F7
$light5: rgba(255, 255, 255, 0.05)
$light10: rgba(255, 255, 255, 0.1)
$light20: rgba(255, 255, 255, 0.2)
$light25: rgba(255, 255, 255, 0.25)
$light30: rgba(255, 255, 255, 0.3)
$light40: rgba(255, 255, 255, 0.4)
$light50: rgba(255, 255, 255, 0.5)
$light60: rgba(255, 255, 255, 0.6)
$light70: rgba(255, 255, 255, 0.7)
$light80: rgba(255, 255, 255, 0.8)
$light90: rgba(255, 255, 255, 0.9)
$light10Solid: rgb(52, 55, 58)

$borderRad: 8px 
$accent: #00D98B
$accentHover: #00D98B
$error: rgb(255, 56, 132)
$bg: #1C1F21
$bgDark: #16191A

$h2: 1rem
$h3: 0.875rem

=placeholder($color)
    &::-webkit-input-placeholder
        color: $color
    &::-moz-placeholder
        color: $color
    &::-moz-placeholder
        color: $color
    &::-ms-input-placeholder
        color: $color
