@import ~sass/variables

\:host ::ng-deep 
  .error 
    color: $error
    font-weight: bold
    margin: 10px 0
    font-size: 0.75em
  
  h1 
    margin: 0 0 50px
    font-size: 1.8em
    font-weight: bold
    text-align: center
  
  button 
    cursor: pointer
    outline: 0
    border: none
    border-radius: 500px
    font-size: 1em
    font-weight: bold
    &:disabled 
      opacity: 0.4
      cursor: not-allowed
     
  a 
    display: block
    text-align: center
    color: $light50
    font-size: 0.75em

  .actionBtn
    padding: 10px 60px
    border: solid 2px transparent
    background-color: $accent
    color: $dark



.auth-form 
  background: $light5
  border-radius: 10px
  width: 350px
  margin: 110px auto 0 auto
  padding: 50px 50px
  &__button 
    text-align: center
    margin-top: 30px   
  &__toggleLink 
    margin: 10px
  label
    color: $light30 
    position: relative
    display: block
    margin-top: 30px 
    &:after 
      content: ''
      position: absolute
      bottom: 0
      left: 0%
      height: 2px
      width: 0px
      visibility: hidden
      background-color: $accent
      transition: .2s ease all
    &.isFocused   
      &:after 
        visibility: visible
        width: 100%
  input 
    outline: none
    border: none
    margin: 0
    padding: 5px 0
    width: 100%
    border-bottom: solid 1px $light20 
    color: white
    &:-webkit-autofill
      -webkit-box-shadow: 0 0 0px 1000px white inset
      -webkit-text-fill-color: inherit !important






    
  
