@import ~sass/variables

aside
    height: 100vh
    position: relative

.scroll
    display: flex
    padding: 2rem 3rem 6rem 3rem
    flex-direction: column
    height: 100%
    overflow-y: auto

.search
    border-radius: 50rem
    background-color: $dark20
    display: flex
    padding: .75rem 1rem
    align-items: center
    margin-bottom: 2rem
    i
        color: $light25
        margin-right: .5rem
        font-size: 1.2rem
    input
        min-width: 0
        flex-grow: 1
        color: white
        +placeholder($light50)

ais-search-box
        flex-grow: 1

::ng-deep .ais-SearchBox 
    input
        min-width: 0
        height: 100%
        width: 100%
        color: white
        +placeholder($light50)
    button
        display: none

.snippet
    border-radius: $borderRad
    background-color: $light5
    width: 300px
    height: 85px
    min-height: 85px
    margin: 0 auto .75rem auto 
    padding: 1.2rem
    cursor: pointer
    h2
        text-transform: capitalize
        font-size: $h2
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
    h3
        font-size: $h3
        font-weight: 400
        color: $light50
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
    &.active
        background-color: $light20


.new-snip-cont
    pointer-events: none
    position: absolute
    bottom: 0
    width: calc(100% - 16px)
    z-index: 100

.new-snip-button-cont
    background-color: $bg
    padding: 10px 0 2rem 0

.new-snip-btn
    background-color: $light10
    color: $light50
    font-weight: bold
    margin: 0 auto
    padding: .75rem 1rem
    border-radius: 50rem
    display: block
    pointer-events: all
    position: relative
    left: 8px
    i
        margin-right: .5rem
    &:hover
        background-color: $accent
        color: $dark
