@import ~sass/variables

.page
    position: relative
    height: 100%
    width: 100%
        
router-outlet
    display: none

.copy
    z-index: 999
    position: fixed
    top: 0
    left: 50%
    color: $dark
    background: $accent
    padding: 1rem 2rem
    font-size: 1.25rem
    font-weight: bold
    transform: translate(-50%, -100%)
    border-radius: 50rem
    opacity: 0
    &.active
        animation: copy 1s

@keyframes copy
    0%
        transform: translate(-50%, -100%)
        opacity: 0
    50%
        opacity: 1
        transform: translate(-50%, 25%)
    100%
        transform: translate(-50%, 25%)
        opacity: 0
