@import ~sass/variables

.container
    padding: 0 2rem 2rem 1rem
    height: 100%
    position: relative
    pointer-events: none
    opacity: 0
    &.active
        pointer-events: all        
        opacity: 1

.fixedSize
    position: absolute
    top: 0
    left: 1rem


