@import ~sass/variables

.container
    border-radius: $borderRad
    box-shadow: 0 5px 20px -5px $dark
    position: fixed
    padding: 0.5rem 0
    background: #393b3d
    font-weight: bold
    cursor: pointer
    z-index: 1000

.item
    padding: .5rem 1rem
    opacity: .75
    i
        width: 30px
    &:hover    
        opacity: 1
        background-color: $dark20
    &.active
        opacity: 1
        background-color: $dark20
