@import ~sass/variables

.grid
    display: grid
    grid-template-columns: 300px 400px 1fr


.snippet-wrapper
    display: flex
    flex-direction: column
    position: relative

snippet-header
    width: 100%

snippet-body
    width: 100%
    flex-grow: 1


.select-snippet
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: $light40
    font-weight: bold
    i
        margin-bottom: 1rem
        font-size: 5rem
        opacity: .2
