@import ~sass/variables

.container
    padding: 1.5rem 2rem 2rem 2rem
    width: 100%
    

.top
    width: 100%
    display: flex
    align-items: center
    margin-bottom: .75rem
    form 
        flex-grow: 1
        padding: .5rem 1rem
        border-radius: $borderRad
        &.active
            background: $dark20
        input
            text-transform: capitalize
            cursor: pointer
            font-size: 2rem
            font-weight: bold
            overflow: hidden
            min-width: 0
            width: 100%
            text-overflow: ellipsis
            white-space: nowrap
textarea
    width: 100%
    cursor: pointer
    resize: none
    overflow-y: hidden
    padding: 1rem
    border-radius: $borderRad
    &.active
        background: $dark20
    
.dropdown
    cursor: pointer
    margin-left: 1.5rem
    width: 120px
    min-width: 120px
    border-radius: 1.4rem
    background-color: $light10
    position: relative
    &.open
        border-radius: 1.4rem 1.4rem 0 0 !important

.choosen-option
    font-weight: bold
    height: 45px
    display: flex
    align-items: center 
    justify-content: space-between
    padding: 0 1.5rem
    border-radius: 1.4rem
    user-select: none
    &.open
        border-radius: 1.4rem 1.4rem 0 0 !important
    svg
        fill: $light50
    &:hover
        background-color: $dark50

.other-dropdown-options
    width: 120px
    position: absolute
    top: 45px
    z-index: 50
    background-color: #323537
    border-radius: 0 0 1.4rem 1.4rem  
    

.dropdown-option
    display: flex
    align-items: center
    font-weight: bold
    height: 45px
    padding: 0 1.5rem
    color: $light50 
    user-select: none
    &:last-child
        border-radius: 0 0 1.4rem 1.4rem   
    &:hover
        background-color: $dark50


.action-button
    margin-left: 1.5rem
    background-color: $light10 
    color: $light50
    height: 45px
    width: 45px
    min-width: 45px
    border-radius: 50%
    &:hover
        background-color: $accent 
        color: $dark

.copy-button
    font-size: 1.125rem

.options-cont
    position: relative

.options
    font-size: 1.5rem
    &.active
        background-color: $accent 
        color: $dark

.delete-dropdown
    background: #323537
    border-radius: 1.4rem
    display: flex
    height: 45px
    position: absolute
    right: 0
    top: 55px
    font-size: 1rem
    font-weight: bold
    align-items: center
    padding: 0 1.15rem
    color: $light50
    cursor: pointer
    &:hover
        background-color: #0E1011
    i
        margin-right: .6rem








